@model SolarMag.com.Models.Item

@{
    ViewBag.Title = "Détails article";

    SelectList ClientSelectList = new SelectList(ViewBag.ClientList,"Id","Nom");

}


@using (Html.BeginForm("Ajouter","Paniers",new { ItemId = Model.Id}, FormMethod.Post,null))
{
    <p>
        Select Department: @Html.DropDownList("ClientSelectList", ClientSelectList, "Selectionner un client",
            new { @class = "form-control" })
        <input type="submit" value="Ajouter au panier" />
    </p>
}



<h2>Détails</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garantie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garantie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

    </dl>
</div>





<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
