@model IEnumerable<SolarMag.com.Models.Item>

@{
    ViewBag.Title = "Index";

    SolarMag.com.Models.Item.Categories? CategoriesSelectionnee = null;
}

<h2>Catalogue</h2>

<p>
    @Html.ActionLink("Créer un nouvelle item", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Select Department: @Html.DropDownList("CategorieList", EnumHelper.GetSelectList
                          (typeof(SolarMag.com.Models.Item.Categories)), "Selectionner une catégorie",
                          new { @class = "form-control" })
        <input type="submit" value="Filtrer" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabricant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garantie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garantie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
