@model SolarMag.com.Models.Panier

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Panier de @ViewBag.ClientChoisi.Nom</h4>
    <hr />

    @foreach (var ItemDuPanier in Model.PanierItems)
    {
        <p>
            @ItemDuPanier.Item.Nom @ItemDuPanier.Quantite
        </p>
    }


</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index", "Items")
    @Html.ActionLink("Retour au catalogue", "Index", "Items")
</p>
